body{
    margin: 20px;
}
.Contact{
    display: flex;
}
h1{
    background-color: aqua;
    width: 2000px;
}
.circle-image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
h3{
    color: rgb(44, 126, 214);
}
.container{
    display: flex;
    gap: 10px;
}
.p1{background-color:bisque;
}
.image1{
    border: 2px solid black;
}
button{
    background-color: #5f4bce;
    color: white;
}